In [1]:
import pandas as pd
import requests
import json
import time

In [2]:
bikes = pd.read_csv("CDMX_bikes.csv")
bikes.head()

   uid   latitude  longitude  empty_slots  free_bikes                    ll
0  109  19.437400 -99.137571           15           4    19.4374,-99.137571
1  272  19.436531 -99.131497           17           6  19.436531,-99.131497
2  108  19.436741 -99.134811           23          12  19.436741,-99.134811
3   15  19.433766 -99.130918           16           7  19.433766,-99.130918
4  256  19.430722 -99.133698           14           5  19.430722,-99.133698

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

API documentation:
"categories"
museum (all) = 10027
bar (all) = 13003 
restaurant (all)= 13065

I'm also going to limit the output using param "fields"

In [6]:
for x in range(10, 12):
    bike_ll = bikes["ll"].iloc[x]

    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "ll" : bike_ll,
        "categories" : "13003,10027,13065",
        "radius" : "75",
        "sort":"DISTANCE",
        "limit" : "50",
        "fields" : "name,geocodes,categories,price,distance"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3qnvtw345lsOhc+snv7hneg8d02DFLOe2i9PR0u82sp0="
    }

    response10_12 = requests.request("GET", url, params=params, headers=headers)
response10_12

In [35]:
jsoned10_12 = response10_12.json()

In [8]:
num_responses10_12 = len(jsoned10_12["results"])
num_responses10_12

15

In [9]:
# now extract all_results into columns:

POI_name = []
latitude = []
longitude = []
category_name = []
category_id = []
prices = []
distance = []
bike_ll = []

for j in jsoned10_12["results"]:
    POI_name.append (j["name"] ),
    distance.append (j["distance"]),
    latitude.append (j["geocodes"]["main"] ["latitude"]),
    longitude.append (j["geocodes"]["main"]["longitude"] ),
    category_name.append (j["categories"][0]["name"] ),
    category_id.append (j["categories"][0]["id"] ),
    bike_ll.append (bikes["ll"].iloc[x])
    
    if "price" in j:
        prices.append(j ["price"])
    else:
        prices.append ("NaN")

In [10]:
df10_12 = pd.DataFrame (list (zip (POI_name, latitude, longitude, distance, category_name, category_id, prices, bike_ll)),
    columns = ["POI_name", "latitude", "longitude", "distance", "category_name", "category_id", "prices", "bike_ll"]  )
df10_12

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,La Cima,19.432791,-99.151747,3,Bar,13003,2,"19.432819,-99.151734"
1,Viento en Popa,19.432556,-99.151432,43,Seafood Restaurant,13338,3,"19.432819,-99.151734"
2,El Mana,19.432653,-99.152212,48,Mexican Restaurant,13303,1,"19.432819,-99.151734"
3,El tequio,19.433077,-99.152199,56,Mexican Restaurant,13303,1,"19.432819,-99.151734"
4,Cantina el Dragón de Oro,19.432772,-99.152359,65,Restaurant,13065,2,"19.432819,-99.151734"
5,"Tequio ""Sazón Chilango""",19.433237,-99.152187,66,Taco Restaurant,13306,1,"19.432819,-99.151734"
6,Los Tacos del Seven,19.433188,-99.152015,66,Taco Restaurant,13306,1,"19.432819,-99.151734"
7,Cantina el Dragón de Oro,19.432631,-99.152336,66,Bistro,13027,NaN,"19.432819,-99.151734"
8,Cafeteria de Cuba,19.432507,-99.151154,69,Restaurant,13065,NaN,"19.432819,-99.151734"
9,El Buen Amigo,19.432507,-99.151154,74,Burger Joint,13031,1,"19.432819,-99.151734"
10,El Cielo,19.433368,-99.151738,75,Mexican Restaurant,13303,1,"19.432819,-99.151734"
11,Café la Habana,19.432479,-99.151221,81,Café,13034,2,"19.432819,-99.151734"
12,Tacos el Carnal,19.432507,-99.151154,81,Taco Restaurant,13306,1,"19.432819,-99.151734"
13,Brujas Café,19.432314,-99.151306,83,Coffee Shop,13035,1,"19.432819,-99.151734"
14,Articulo #123,19.432946,-99.151033,85,Thai Restaurant,13352,2,"19.432819,-99.151734"

In [11]:
for x in range(21,22):
    bike_ll = bikes["ll"].iloc[x]

    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "ll" : bike_ll,
        "categories" : "13003,10027,13065",
        "radius" : "75",
        "sort":"DISTANCE",
        "limit" : "50",
        "fields" : "name,geocodes,categories,price,distance"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3qnvtw345lsOhc+snv7hneg8d02DFLOe2i9PR0u82sp0="
    }

    response = requests.request("GET", url, params=params, headers=headers)
response

In [12]:
jsoned21_22 = response.json()
jsoned21_22

{'results': [{'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'distance': 5,
   'geocodes': {'main': {'latitude': 19.422332, 'longitude': -99.162116},
    'roof': {'latitude': 19.422332, 'longitude': -99.162116}},
   'name': 'Caldos Bens'},
  {'categories': [{'id': 13303,
     'name': 'Mexican Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
      'suffix': '.png'}}],
   'distance': 21,
   'geocodes': {'main': {'latitude': 19.422647, 'longitude': -99.162138},
    'roof': {'latitude': 19.422647, 'longitude': -99.162138}},
   'name': 'Casa Lorenzo',
   'price': 1},
  {'categories': [{'id': 13031,
     'name': 'Burger Joint',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
      'suffix': '.png'}}],
   'distance': 30,
   'geocodes': {'main': {'latitude': 19.422374, 'longitude': -99.161857},
    'roof': {'latitude': 19.422374, 'longitude': -99.161857}},
   'name': "Daddy's Burgers & Salads",
   'price': 1},
  {'categories': [{'id': 13303,
     'name': 'Mexican Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
      'suffix': '.png'}}],
   'distance': 39,
   'geocodes': {'main': {'latitude': 19.422402, 'longitude': -99.16179},
    'roof': {'latitude': 19.422402, 'longitude': -99.16179}},
   'name': 'Las Gorditas de Puebla',
   'price': 1},
  {'categories': [{'id': 13303,
     'name': 'Mexican Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
      'suffix': '.png'}}],
   'distance': 55,
   'geocodes': {'main': {'latitude': 19.422813, 'longitude': -99.161736},
    'roof': {'latitude': 19.422813, 'longitude': -99.161736}},
   'name': 'Gorditas de la glorieta',
   'price': 1},
  {'categories': [{'id': 13306,
     'name': 'Taco Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/taco_',
      'suffix': '.png'}}],
   'distance': 56,
   'geocodes': {'main': {'latitude': 19.422731, 'longitude': -99.16162},
    'roof': {'latitude': 19.422731, 'longitude': -99.16162}},
   'name': 'Taquería Vista Hermosa',
   'price': 1}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 19.422288,
     'longitude': -99.162138},
    'radius': 75}}}}

In [13]:
num_responses21_22 = len(jsoned21_22["results"])
num_responses21_22

6

In [14]:
# now extract all_results into columns:

POI_name = []
latitude = []
longitude = []
category_name = []
category_id = []
prices = []
distance = []
bike_ll = []

for j in jsoned21_22["results"]:
    POI_name.append (j["name"] ),
    distance.append (j["distance"]),
    latitude.append (j["geocodes"]["main"] ["latitude"]),
    longitude.append (j["geocodes"]["main"]["longitude"] ),
    category_name.append (j["categories"][0]["name"] ),
    category_id.append (j["categories"][0]["id"] ),
    bike_ll.append (bikes["ll"].iloc[x])
    
    if "price" in j:
        prices.append(j ["price"])
    else:
        prices.append ("NaN")

In [15]:
df21_22 = pd.DataFrame (list (zip (POI_name, latitude, longitude, distance, category_name, category_id, prices, bike_ll)),
    columns = ["POI_name", "latitude", "longitude", "distance", "category_name", "category_id", "prices", "bike_ll"]  )
df21_22

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,Caldos Bens,19.422332,-99.162116,5,Restaurant,13065,NaN,"19.422288,-99.162138"
1,Casa Lorenzo,19.422647,-99.162138,21,Mexican Restaurant,13303,1,"19.422288,-99.162138"
2,Daddy's Burgers & Salads,19.422374,-99.161857,30,Burger Joint,13031,1,"19.422288,-99.162138"
3,Las Gorditas de Puebla,19.422402,-99.161790,39,Mexican Restaurant,13303,1,"19.422288,-99.162138"
4,Gorditas de la glorieta,19.422813,-99.161736,55,Mexican Restaurant,13303,1,"19.422288,-99.162138"
5,Taquería Vista Hermosa,19.422731,-99.161620,56,Taco Restaurant,13306,1,"19.422288,-99.162138"

In [16]:
for x in range(23,24):
    bike_ll = bikes["ll"].iloc[x]

    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "ll" : bike_ll,
        "categories" : "13003,10027,13065",
        "radius" : "75",
        "sort":"DISTANCE",
        "limit" : "50",
        "fields" : "name,geocodes,categories,price,distance"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3qnvtw345lsOhc+snv7hneg8d02DFLOe2i9PR0u82sp0="
    }

    response = requests.request("GET", url, params=params, headers=headers)
response

In [17]:
jsoned23_24 = response.json()
num_responses23_24 = len(jsoned21_22["results"])
num_responses23_24

6

In [18]:
# now extract all_results into columns:

POI_name = []
latitude = []
longitude = []
category_name = []
category_id = []
prices = []
distance = []
bike_ll = []

for j in jsoned23_24["results"]:
    POI_name.append (j["name"] ),
    distance.append (j["distance"]),
    latitude.append (j["geocodes"]["main"] ["latitude"]),
    longitude.append (j["geocodes"]["main"]["longitude"] ),
    category_name.append (j["categories"][0]["name"] ),
    category_id.append (j["categories"][0]["id"] ),
    bike_ll.append (bikes["ll"].iloc[x])
    
    if "price" in j:
        prices.append(j ["price"])
    else:
        prices.append ("NaN")

In [19]:
df23_24 = pd.DataFrame (list (zip (POI_name, latitude, longitude, distance, category_name, category_id, prices, bike_ll)),
    columns = ["POI_name", "latitude", "longitude", "distance", "category_name", "category_id", "prices", "bike_ll"]  )
df23_24

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,Hungry Beast Juice Bar & Kitchen,19.422172,-99.160933,15,Restaurant,13065,1,"19.422148,-99.160645"
1,Bottega Sartoria,19.422200,-99.160866,16,Deli,13039,1,"19.422148,-99.160645"
2,Pizzera Della Maddonna,19.422188,-99.160819,18,Pizzeria,13064,1,"19.422148,-99.160645"
3,Cucina,19.422052,-99.160830,22,Restaurant,13065,2,"19.422148,-99.160645"
4,Buna,19.421955,-99.160518,25,Café,13034,NaN,"19.422148,-99.160645"
5,Madonna,19.422083,-99.160909,28,Italian Restaurant,13236,2,"19.422148,-99.160645"
6,Sartoria,19.421845,-99.160469,33,Italian Restaurant,13236,2,"19.422148,-99.160645"
7,Museo PADRE PRO,19.422445,-99.160866,40,History Museum,10030,NaN,"19.422148,-99.160645"
8,El Sambi,19.421746,-99.161179,57,Cocktail Bar,13009,3,"19.422148,-99.160645"
9,Santaigo Arte Conservacion y Restauracion,19.421679,-99.160871,57,Restaurant,13065,NaN,"19.422148,-99.160645"
10,Café Toscano,19.421845,-99.160469,61,Café,13034,2,"19.422148,-99.160645"
11,La Buena Mesa,19.421679,-99.160871,61,Mexican Restaurant,13303,1,"19.422148,-99.160645"

In [20]:
for x in range(25,26):
    bike_ll = bikes["ll"].iloc[x]

    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "ll" : bike_ll,
        "categories" : "13003,10027,13065",
        "radius" : "75",
        "sort":"DISTANCE",
        "limit" : "50",
        "fields" : "name,geocodes,categories,price,distance"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3qnvtw345lsOhc+snv7hneg8d02DFLOe2i9PR0u82sp0="
    }

    response25_26 = requests.request("GET", url, params=params, headers=headers)
response25_26

In [21]:
jsoned25_26 = response25_26.json()
num_responses25_26 = len(jsoned21_22["results"])
num_responses25_26

6

In [22]:
# now extract all_results into columns:

POI_name = []
latitude = []
longitude = []
category_name = []
category_id = []
prices = []
distance = []
bike_ll = []

for j in jsoned25_26["results"]:
    POI_name.append (j["name"] ),
    distance.append (j["distance"]),
    latitude.append (j["geocodes"]["main"] ["latitude"]),
    longitude.append (j["geocodes"]["main"]["longitude"] ),
    category_name.append (j["categories"][0]["name"] ),
    category_id.append (j["categories"][0]["id"] ),
    bike_ll.append (bikes["ll"].iloc[x])
    
    if "price" in j:
        prices.append(j ["price"])
    else:
        prices.append ("NaN")

In [23]:
df25_26 = pd.DataFrame (list (zip (POI_name, latitude, longitude, distance, category_name, category_id, prices, bike_ll)),
    columns = ["POI_name", "latitude", "longitude", "distance", "category_name", "category_id", "prices", "bike_ll"]  )
df25_26

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,Modena Pizza Napolitana,19.420834,-99.156484,15,Pizzeria,13064,1,"19.420667,-99.15645"
1,The Food Box,19.420831,-99.156399,18,Burger Joint,13031,1,"19.420667,-99.15645"
2,Comal de Piedra,19.420903,-99.156475,19,Mexican Restaurant,13303,1,"19.420667,-99.15645"
3,La Ensalada Loka,19.420957,-99.156658,28,Salad Restaurant,13332,1,"19.420667,-99.15645"
4,Penya Blaugrana Ciutat de Mèxic,19.420973,-99.156150,30,Lounge,13016,3,"19.420667,-99.15645"
5,Salón Paseo de Gracia,19.420973,-99.156150,31,Restaurant,13065,2,"19.420667,-99.15645"
6,Sr. Taco,19.420492,-99.156529,32,Mexican Restaurant,13303,1,"19.420667,-99.15645"
7,Frito y Cruel,19.420464,-99.156596,33,Fried Chicken Joint,13055,1,"19.420667,-99.15645"
8,Los Lonches,19.420439,-99.156029,36,Sandwich Restaurant,13334,1,"19.420667,-99.15645"
9,Nitrology,19.420480,-99.156087,39,Ice Cream Parlor,13046,1,"19.420667,-99.15645"
10,El Cuartito,19.420626,-99.156058,41,Speakeasy,13021,3,"19.420667,-99.15645"
11,Distro Bistrot,19.420494,-99.156086,44,Bistro,13027,NaN,"19.420667,-99.15645"
12,Eva Sandwichería,19.420296,-99.156249,46,Sandwich Restaurant,13334,1,"19.420667,-99.15645"
13,Tortas Perras,19.420302,-99.156047,50,Deli,13039,1,"19.420667,-99.15645"
14,El Jacinto Fonda Vegana,19.421238,-99.156418,63,Vegan and Vegetarian Restaurant,13377,2,"19.420667,-99.15645"
15,Café Memorias de un Barista,19.421190,-99.156564,64,Coffee Shop,13035,1,"19.420667,-99.15645"

In [31]:
for x in range(45,47):
    bike_ll = bikes["ll"].iloc[x]

    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "ll" : bike_ll,
        "categories" : "13003,10027,13065",
        "radius" : "75",
        "sort":"DISTANCE",
        "limit" : "50",
        "fields" : "name,geocodes,categories,price,distance"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3qnvtw345lsOhc+snv7hneg8d02DFLOe2i9PR0u82sp0="
    }

    response45_47 = requests.request("GET", url, params=params, headers=headers)
response45_47

In [32]:
jsoned45_47 = response45_47.json()
num_responses45_47 = len(jsoned45_47["results"])
num_responses45_47

10

In [33]:
# now extract all_results into columns:

POI_name = []
latitude = []
longitude = []
category_name = []
category_id = []
prices = []
distance = []
bike_ll = []

for j in jsoned45_47["results"]:
    POI_name.append (j["name"] ),
    distance.append (j["distance"]),
    latitude.append (j["geocodes"]["main"] ["latitude"]),
    longitude.append (j["geocodes"]["main"]["longitude"] ),
    category_name.append (j["categories"][0]["name"] ),
    category_id.append (j["categories"][0]["id"] ),
    bike_ll.append (bikes["ll"].iloc[x])
    
    if "price" in j:
        prices.append(j ["price"])
    else:
        prices.append ("NaN")

In [34]:
df45_47 = pd.DataFrame (list (zip (POI_name, latitude, longitude, distance, category_name, category_id, prices, bike_ll)),
    columns = ["POI_name", "latitude", "longitude", "distance", "category_name", "category_id", "prices", "bike_ll"]  )
df45_47

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,Hamburguesas la Salle,19.408918,-99.181829,16,Burger Joint,13031,1,"19.408841,-99.181692"
1,Tortas el Puas,19.408555,-99.181782,20,Sandwich Restaurant,13334,1,"19.408841,-99.181692"
2,Quesadillas Chingonas,19.408760,-99.181755,22,Taco Restaurant,13306,1,"19.408841,-99.181692"
3,Tlacoyos y Quecas,19.408967,-99.181894,25,Mexican Restaurant,13303,1,"19.408841,-99.181692"
4,Selekto,19.408760,-99.181755,25,Restaurant,13065,2,"19.408841,-99.181692"
5,Hamburguesas y Jochos Chingones,19.408760,-99.181755,27,Burger Joint,13031,1,"19.408841,-99.181692"
6,"hochos ""El Bigotes""",19.408855,-99.181996,43,Hot Dog Joint,13058,1,"19.408841,-99.181692"
7,Alemanas,19.409119,-99.181201,52,Comfort Food Restaurant,13134,NaN,"19.408841,-99.181692"
8,Antreando,19.408922,-99.182304,64,Night Club,10032,NaN,"19.408841,-99.181692"
9,El Alemán,19.409132,-99.182232,65,Deli,13039,1,"19.408841,-99.181692"

Now concatenate the 5 dfs from the 5 difference locations (since the iterator did not work)

In [38]:
list_of_dfs = [df10_12,  df21_22,  df23_24,  df25_26,  df45_47]
POIs = pd.concat(list_of_dfs)
POIs

,POI_name,latitude,longitude,distance,category_name,category_id,prices,bike_ll
0,La Cima,19.432791,-99.151747,3,Bar,13003,2,"19.432819,-99.151734"
1,Viento en Popa,19.432556,-99.151432,43,Seafood Restaurant,13338,3,"19.432819,-99.151734"
2,El Mana,19.432653,-99.152212,48,Mexican Restaurant,13303,1,"19.432819,-99.151734"
3,El tequio,19.433077,-99.152199,56,Mexican Restaurant,13303,1,"19.432819,-99.151734"
4,Cantina el Dragón de Oro,19.432772,-99.152359,65,Restaurant,13065,2,"19.432819,-99.151734"
5,"Tequio ""Sazón Chilango""",19.433237,-99.152187,66,Taco Restaurant,13306,1,"19.432819,-99.151734"
6,Los Tacos del Seven,19.433188,-99.152015,66,Taco Restaurant,13306,1,"19.432819,-99.151734"
7,Cantina el Dragón de Oro,19.432631,-99.152336,66,Bistro,13027,NaN,"19.432819,-99.151734"
8,Cafeteria de Cuba,19.432507,-99.151154,69,Restaurant,13065,NaN,"19.432819,-99.151734"
9,El Buen Amigo,19.432507,-99.151154,74,Burger Joint,13031,1,"19.432819,-99.151734"
10,El Cielo,19.433368,-99.151738,75,Mexican Restaurant,13303,1,"19.432819,-99.151734"
11,Café la Habana,19.432479,-99.151221,81,Café,13034,2,"19.432819,-99.151734"
12,Tacos el Carnal,19.432507,-99.151154,81,Taco Restaurant,13306,1,"19.432819,-99.151734"
13,Brujas Café,19.432314,-99.151306,83,Coffee Shop,13035,1,"19.432819,-99.151734"
14,Articulo #123,19.432946,-99.151033,85,Thai Restaurant,13352,2,"19.432819,-99.151734"
0,Caldos Bens,19.422332,-99.162116,5,Restaurant,13065,NaN,"19.422288,-99.162138"
1,Casa Lorenzo,19.422647,-99.162138,21,Mexican Restaurant,13303,1,"19.422288,-99.162138"
2,Daddy's Burgers & Salads,19.422374,-99.161857,30,Burger Joint,13031,1,"19.422288,-99.162138"
3,Las Gorditas de Puebla,19.422402,-99.161790,39,Mexican Restaurant,13303,1,"19.422288,-99.162138"
4,Gorditas de la glorieta,19.422813,-99.161736,55,Mexican Restaurant,13303,1,"19.422288,-99.162138"
5,Taquería Vista Hermosa,19.422731,-99.161620,56,Taco Restaurant,13306,1,"19.422288,-99.162138"
0,Hungry Beast Juice Bar & Kitchen,19.422172,-99.160933,15,Restaurant,13065,1,"19.422148,-99.160645"
1,Bottega Sartoria,19.422200,-99.160866,16,Deli,13039,1,"19.422148,-99.160645"
2,Pizzera Della Maddonna,19.422188,-99.160819,18,Pizzeria,13064,1,"19.422148,-99.160645"
3,Cucina,19.422052,-99.160830,22,Restaurant,13065,2,"19.422148,-99.160645"
4,Buna,19.421955,-99.160518,25,Café,13034,NaN,"19.422148,-99.160645"
5,Madonna,19.422083,-99.160909,28,Italian Restaurant,13236,2,"19.422148,-99.160645"
6,Sartoria,19.421845,-99.160469,33,Italian Restaurant,13236,2,"19.422148,-99.160645"
7,Museo PADRE PRO,19.422445,-99.160866,40,History Museum,10030,NaN,"19.422148,-99.160645"
8,El Sambi,19.421746,-99.161179,57,Cocktail Bar,13009,3,"19.422148,-99.160645"
9,Santaigo Arte Conservacion y Restauracion,19.421679,-99.160871,57,Restaurant,13065,NaN,"19.422148,-99.160645"
10,Café Toscano,19.421845,-99.160469,61,Café,13034,2,"19.422148,-99.160645"
11,La Buena Mesa,19.421679,-99.160871,61,Mexican Restaurant,13303,1,"19.422148,-99.160645"
0,Modena Pizza Napolitana,19.420834,-99.156484,15,Pizzeria,13064,1,"19.420667,-99.15645"
1,The Food Box,19.420831,-99.156399,18,Burger Joint,13031,1,"19.420667,-99.15645"
2,Comal de Piedra,19.420903,-99.156475,19,Mexican Restaurant,13303,1,"19.420667,-99.15645"
3,La Ensalada Loka,19.420957,-99.156658,28,Salad Restaurant,13332,1,"19.420667,-99.15645"
4,Penya Blaugrana Ciutat de Mèxic,19.420973,-99.156150,30,Lounge,13016,3,"19.420667,-99.15645"
5,Salón Paseo de Gracia,19.420973,-99.156150,31,Restaurant,13065,2,"19.420667,-99.15645"
6,Sr. Taco,19.420492,-99.156529,32,Mexican Restaurant,13303,1,"19.420667,-99.15645"
7,Frito y Cruel,19.420464,-99.156596,33,Fried Chicken Joint,13055,1,"19.420667,-99.15645"
8,Los Lonches,19.420439,-99.156029,36,Sandwich Restaurant,13334,1,"19.420667,-99.15645"
9,Nitrology,19.420480,-99.156087,39,Ice Cream Parlor,13046,1,"19.420667,-99.15645"
10,El Cuartito,19.420626,-99.156058,41,Speakeasy,13021,3,"19.420667,-99.15645"
11,Distro Bistrot,19.420494,-99.156086,44,Bistro,13027,NaN,"19.420667,-99.15645"
12,Eva Sandwichería,19.420296,-99.156249,46,Sandwich Restaurant,13334,1,"19.420667,-99.15645"
13,Tortas Perras,19.420302,-99.156047,50,Deli,13039,1,"19.420667,-99.15645"
14,El Jacinto Fonda Vegana,19.421238,-99.156418,63,Vegan and Vegetarian Restaurant,13377,2,"19.420667,-99.15645"
15,Café Memorias de un Barista,19.421190,-99.156564,64,Coffee Shop,13035,1,"19.420667,-99.15645"
0,Hamburguesas la Salle,19.408918,-99.181829,16,Burger Joint,13031,1,"19.408841,-99.181692"
1,Tortas el Puas,19.408555,-99.181782,20,Sandwich Restaurant,13334,1,"19.408841,-99.181692"
2,Quesadillas Chingonas,19.408760,-99.181755,22,Taco Restaurant,13306,1,"19.408841,-99.181692"
3,Tlacoyos y Quecas,19.408967,-99.181894,25,Mexican Restaurant,13303,1,"19.408841,-99.181692"
4,Selekto,19.408760,-99.181755,25,Restaurant,13065,2,"19.408841,-99.181692"
5,Hamburguesas y Jochos Chingones,19.408760,-99.181755,27,Burger Joint,13031,1,"19.408841,-99.181692"
6,"hochos ""El Bigotes""",19.408855,-99.181996,43,Hot Dog Joint,13058,1,"19.408841,-99.181692"
7,Alemanas,19.409119,-99.181201,52,Comfort Food Restaurant,13134,NaN,"19.408841,-99.181692"
8,Antreando,19.408922,-99.182304,64,Night Club,10032,NaN,"19.408841,-99.181692"
9,El Alemán,19.409132,-99.182232,65,Deli,13039,1,"19.408841,-99.181692"

In [40]:
POIs.to_csv("POIs_5_locs.csv", index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating